*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(57, 57, 214);
  height: 100vh;
}
.container{
  width: 100%;
  max-width: 500px;
  background: rgb(68, 68, 174);
  border-radius: 10px;
  padding: 20px 20px 20px 25px;
  color: white;
  text-align: center;
}
.input{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}
.input p{
  font-size: 1.2rem;
}
.input button{
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  border: none;
  background: rgb(48, 48, 162);
  margin-bottom: 5px;
}
.input button:hover{
  background: rgb(39, 39, 150);
}
input{
  text-align: center;
  width: 70%;
  height: 2rem;
  border-radius: 5px;
  border: none;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 1rem;
}
p{
  font-size: 1.5rem;
}

